@use "../bs" as *;

//noinspection CssUnknownTarget
.banner {
  background-image: url('../assets/images/banner.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  padding-block: 2rem;
  min-height: 200px;
  display: flex;
  align-items: center;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(at center center, #032D418C 0%, #0A3246 50%);
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    flex-wrap: wrap;
    position: relative;
    z-index: 1;
  }

  &__title {
    font-weight: 700;
    color: var(--color-white);
  }
}