@use "../bs" as *;

.benefits-alt {
  &__list {
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
  }

  &__item {
    --padding: 1rem;

    max-width: 360px;
    width: 100%;
    background-color: var(--color-white);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
    padding: var(--padding) var(--padding) var(--padding) calc(30px + var(--padding) * 2);

    &-icon {
      position: absolute;
      top: var(--padding);
      left: var(--padding);
      width: 30px;
      height: 30px;

      svg {
        fill: var(--color-primary);
      }
    }

    &-title {
      font-weight: 700;
    }
  }
}