@use "../bs" as *;

.benefits {
  &__list {
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
  }

  &__item {
    max-width: 500px;
    width: 100%;
    background-color: #E9EFFF;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.23);
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem;

    &-icon {
      width: 70px;
      height: 70px;
    }

    &-title {
      text-transform: uppercase;
      color: #393185;
      font-weight: 700;
    }
  }
}