@use "../bs" as *;

.bottom-panel {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 10;

  &__top {
    padding: 0 12px 12px 12px;
  }

  &__bottom {
    padding: .75rem;
    background-color: var(--color-primary);
    color: var(--color-white);
    line-height: 1;

    & > * {
      text-align: center;
    }
  }
}