@use "../bs" as *;

.hero {
  line-height: 1;

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @include media-breakpoint-down(lg) {
      gap: 1.5rem;
    }
  }

  &__top {
    display: grid;
    grid-template-columns: 1fr minmax(300px, 480px);
    gap: 1rem;

    @include media-breakpoint-down(lg) {
      grid-template-columns: 1fr;
    }

    &-body {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      font-size: 22px;
    }

    &-title {
      line-height: 1;
      text-transform: uppercase;
    }

    &-list {
      line-height: 1.5;
      list-style: none;
      padding-left: 0;

      li {
        display: flex;
        gap: .5rem;

        span.icon {
          width: 14px;
        }

        svg {
          fill: var(--color-primary);
          max-width: 14px;
        }
      }
    }

    &-image {
      border-radius: 27px;
    }

    &-dynamic-text {
      color: var(--color-primary);

      @include media-breakpoint-down(lg) {
        font-size: 28px;
        text-align: center;
        justify-content: center;
      }

      @include media-breakpoint-down(md) {
        font-size: 24px;
      }

      @include media-breakpoint-down(sm) {
        font-size: 16px;
      }
    }

    &-button {
      align-self: start;

      @include media-breakpoint-down(lg) {
        width: 100%;
      }
    }
  }

  &__bottom {
    font-size: 28px;
    font-weight: 700;

    &-accent {
      color: var(--color-primary);
      text-transform: uppercase;
    }
  }
}