@use "../bs" as *;

.reviews {
  &__slider {
    &-wrapper {
      padding-block: 2rem;
    }

    & &-slide {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      align-items: center;

      &-text {
        font-style: italic;
        text-align: center;
        max-width: 1024px;
      }

      &-author {
        font-size: 18px;
        font-weight: 700;
        text-align: center;
      }
    }

    & .swiper-button-next,
    & .swiper-button-prev {
      width: 20px;
      height: 20px;

      svg {
        fill: hsla(0, 0%, 93%, .9);
      }
    }

    & .swiper-pagination {
      position: static;
    }

    & .swiper-pagination-bullet-active {
      background: var(--color-black);
    }
  }
}